#animation .text-xl {
  font-size: 1.5rem;
  color: red;
  letter-spacing: 0.06em;
}
.split-char {
  color: var(--hex-current-1);
  background-color: var(--hex-current-3);
  outline: 1px solid var(--hex-current-2);
  border-radius: .25rem;
}

  p span {
      display: inline-block;
      opacity: 0;
    }

    #animation-animatable-properties-svg-attributes .docs-demo-template {
  display: none;
}

#animation-animatable-properties-svg-attributes .demo polygon {
  filter: url(#displacementFilter)
}